{% extends 'partials/base.html' %}
{% block title %}Login page{% endblock %}
{% load crispy_forms_tags %}

{% block nav %}
{% include 'partials/nav2.html' %}
{% endblock %}

{% block content %}
<div class="cover">
    <div class="container">
        <div class="row pt-5">
            <div class="col-xl-5 offset-xl-5 col-lg-8 offset-lg-2 p-5">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Login Page</h4>
                        <hr>
                        <form class="custom-form" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid gap-2">
                                <button class='btn solid-btn btn-lg' type='submit' value='POST'>Log in</button>
                                <hr>
                                <div class="text-center my-3">
                                    <a class="forgot-pswd" href="{% url 'password_reset' %}">Forgot Password</a>
                                </div>
                                <hr>
                                    <a class="btn lighter-btn btn-lg" href="{% url 'users-sign-up' %}">Sign Up</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}