{% extends 'partials/base.html' %}
{% block title %}password reset page{% endblock %}
{% load crispy_forms_tags %}

{% block nav %}
{% include 'partials/nav2.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-s pt-5">
        <div class="col-lg-6 offset-lg-5">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Password Reset Page</h4>
                    <hr>
                    <div class="alert alert-info">
                        Enter an email and a mail will be sent with instructions to reset password 
                    </div>
                    <form class="custom-form" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button class='btn solid-btn btn-lg my-3' type='submit' value='POST'>Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}