{% extends 'partials/base.html' %}

{% block title %}Profile page{% endblock %}

{% load crispy_forms_tags %}

{% block nav %}
  {% include 'partials/nav2.html' %}
{% endblock %}

{% block content %}
  <div class="container profile-container">
    <div class="row mt-4">
        <div class="col-lg-6 offset-lg-3 p-5">
            <div class="card">
              
                <div class="profile card-body text-center">
                    <img class="mt-2 img-thumbnail profile-img" src="{{ user.profilemodel.image.url }}" alt="profile-img">
                    <h5 class="card-title mt-2">{{ user.username }}</h5>
                    <p class="card-text mt-2">{{ user.profilemodel.first_name }} {{ user.profilemodel.last_name }}</p>
                    <p class="card-text mt-2">{{ user.profilemodel.profile_bio }}</p>
                    
                    {% if user.profilemodel.website_link %}
                      <a href="{{ user.profilemodel.website_link }}" class="card-text mx-2" data-bs-toggle="tooltip" title="website" data-bs-placement="bottom"><i class="fa-solid fa-link fa-lg"></i></a>
                    {% endif %}

                    {% if user.profilemodel.medium_link %}
                    <a href="{{ user.profilemodel.medium_link }}" class="card-text mx-2" data-bs-toggle="tooltip" title="medium" data-bs-placement="bottom"><i class="fa-brands fa-medium fa-lg"></i></a>
                    {% endif %}

                    {% if user.profilemodel.reddit_link %}
                    <a href="{{ user.profilemodel.reddit_link }}" class="card-text mx-2" data-bs-toggle="tooltip" title="rcleaeddit" data-bs-placement="bottom"><i class="fa-brands fa-reddit-alien fa-lg"></i></a>
                    {% endif %}

                    {% if user.profilemodel.quora_link %}
                    <a href="{{ user.profilemodel.quora_link }}" class="card-text mx-2" data-bs-toggle="tooltip" title="quora" data-bs-placement="bottom"><i class="fa-brands fa-quora"></i></a>
                    {% endif %}

                    {% if user.profilemodel.pinterest_link %}
                    <a href="{{ user.profilemodel.pinterest_link }}" class="card-text mx-2" data-bs-toggle="tooltip" title="pinterest" data-bs-placement="bottom"><i class="fa-brands fa-pinterest-p fa-lg"></i></a>
                    {% endif %}
                </div>
                <hr>
                <!-- Modal trigger Button -->
                <button type="button" class="btn btn-sm solid-btn p-2 mx-auto my-2" data-bs-toggle="modal" data-bs-target="#editProfileModal2">
                 Edit Profile
                </button>
            </div>
            
        </div>
    </div>
  </div>
    
    <!-- Modal -->
    <div class="modal fade" id="editProfileModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile information</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <img class="img-thumbnail" src="{{ user.profilemodel.image.url }}" alt="">
              </div>
              <div class="col-md-8">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ u_form|crispy }}
                  {{ p_form|crispy }}

                  <div class="modal-footer">
                    <button type="button" class="btn outline-solid btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn light-btn btn-dark btn-sm">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}