{% extends 'partials/base.html' %}
{% block title %}sign_up page{% endblock %}
{% load crispy_forms_tags %}

{% block nav %}
{% include 'partials/nav2.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-lg-5 offset-lg-5">
            <div class="card my-3 shadow">
                <div class= "card-body">
                    <h4>Sign Up Page</h4>
                    <hr>
                    <form class="custom-form sign-up" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button class='btn solid-btn btn-lg my-2' type='submit' value='POST'>Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}