{% extends 'partials/base.html' %}

{% block title %}index page{% endblock %}
{% load tz %}

{% block nav %}
{% include 'partials/nav.html' %}
{% endblock %}

{% block content %}
     <!-- Topic Section-->
     <section class="pt-5">
        <div class="container my-5 py-5">
            <h1 class=" d-flex justify-content-left pb-4">Discover the beauty of our world's many cultures.</h1>
            <div class="container text-center">
                <div class="topics row row-cols-1 row-cols-md-2 row-cols-lg-6 g-2 g-lg-3">
                  <div class="col">
                    <a href="{% url 'blog-category' 'Technology' %}"><div class="custom_border p-3">Technology</div></a>
                  </div>
                  <div class="col">
                    <a href="{% url 'blog-category' 'Business' %}"><div class="custom_border p-3">Business</div></a>
                  </div>
                  <div class="col">
                    <a href="{% url 'blog-category' 'Religion' %}"><div class="custom_border p-3">Religion</div></a>
                  </div>
                  <div class="col">
                    <a href="{% url 'blog-category' 'Health' %}"><div class="custom_border d-none d-md-block p-3">Health</div></a>
                  </div>
                  <div class="col">
                    <a href="{% url 'blog-category' 'Style' %}"><div class="custom_border d-none d-md-block p-3">Style</div></a>
                  </div>
                  <div class="col">
                    <a href="{% url 'blog-category' 'Travel' %}"><div class="custom_border d-none d-md-block p-3">Travel</div></a>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!--TOP STORIES-->
    <section class="">
        <div class="container my-5 py-5">
            <h2>Top Stories</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    
    <section class="mb-2 pb-2">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card post-card shadow p-2 m-2">
                    <img src="images/damian-patkowski-T-LfvX-7IVg-unsplash.jpg" class="card-img-top no_border top-stories-image" alt="...">
                    <div class="card-body p-2 m-2">
                      <h5 class="card-title p-2 m-2">Card title</h5>
                      <p class="card-text text-justify p-2 m-2">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card post-card shadow p-2 m-2">
                    <img src="images/Jerusalem1.webp" class="card-img-top no_border top-stories-image" alt="...">
                    <div class="card-body p-2 m-2">
                      <h5 class="card-title p-2 m-2">Card title</h5>
                      <p class="card-text p-2 m-2">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <!--Latest Stories-->
    <section class="">
        <div class="container my-5 py-5">
            <h2>Latest Stories</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>

    <section class="mb-2 pb-2">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 post-card">
                {% for post in posts|slice:":6" %}
                    <a href="{% url 'blog-post-detail' post.id %}">
                        <div class="col">
                            <div class="post-card card shadow m-2">
                                {% if post.thumbnail %}
                                    <img src="{{ post.thumbnail }}" alt="..." class="no_border post-image card-img-top ">
                                {% else %}
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="..." class="no_border post-image card-img-top">
                                    {% endif %}
                                {% endif %}
                                <div class="card-body">
                                    <strong class="d-inline-block">{{ post.category }}</strong>
                                    <h3 class="card-title">{{ post.title }}</h3>
                                    {% if post.date_created|date:"Y" != now|date:"Y" %}
                                        <small>{{ post.date_created|date:"b j, Y"|upper }}</small>
                                    {% else %}
                                        <small>{{ post.date_created|date:"b j"|upper }}</small>
                                    {% endif %}
                                    <p class="card-text text-justify">{{ post.intro }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div> 
        </div>
        <div class="container d-flex my-2 pb-2">
            <a href="{% url 'blog-latest-posts' %}" class="btn outline-solid btn-lg d-none d-md-inline mx-auto">VIEW ALL POSTS</a>
            <a href="{% url 'blog-latest-posts' %}" class="btn outline-solid d-md-none btn-sm mx-auto">VIEW ALL POSTS</a>
        </div> 
    </section>

    <!--Technology Section-->
    <section class="">
        <div class="container my-5 py-5">
            <h2>Technology</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    <section class="mb-5 pb-5">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 post-card">
                {% for post in tech|slice:":3" %}
                <a href="{% url 'blog-post-detail' post.id %}">
                    <div class="col">
                        <div class="post-card card shadow p-2 m-2">
                            {% if post.thumbnail %}
                                <img src="{{ post.thumbnail }}" alt="..." class="no_border post-image card-img-top ">
                            {% else %}
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="..." class="no_border post-image card-img-top">
                                {% endif %}
                            {% endif %}
                            <div class="card-body">
                                <strong class="d-inline-block">{{ post.category }}</strong>
                                <h3 class="card-title">{{ post.title }}</h3>
                                {% if post.date_created|date:"Y" != now|date:"Y" %}
                                    <small>{{ post.date_created|date:"b j, Y"|upper }}</small>
                                {% else %}
                                    <small>{{ post.date_created|date:"b j"|upper }}</small>
                                {% endif %}
                                <p class="card-text text-justify">{{ post.intro }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="container d-flex my-2 pb-2">
            <a href="{% url 'blog-category' 'Technology' %}" class="btn outline-solid btn-lg d-none d-md-inline mx-auto">VIEW ALL POSTS</a>
            <a href="{% url 'blog-category' 'Technology' %}" class="btn outline-solid d-md-none btn-sm mx-auto">VIEW ALL POSTS</a>
        </div> 
    </section>
    <!--Lifestyle Section-->
    <section class="">
        <div class="container my-5 py-5">
            <h2>Style</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    <section class="mb-5 pb-5">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 post-card">
                {% for post in lifestyle|slice:":3" %}
                <a href="{% url 'blog-post-detail' post.id %}">
                    <div class="col">
                        <div class="post-card card shadow p-2 m-2">
                            {% if post.thumbnail %}
                                <img src="{{ post.thumbnail }}" alt="..." class="no_border post-image card-img-top ">
                            {% else %}
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="..." class="no_border post-image card-img-top">
                                {% endif %}
                            {% endif %}
                            <div class="card-body">
                                <strong class="d-inline-block">{{ post.category }}</strong>
                                <h3 class="card-title">{{ post.title }}</h3>
                                {% if post.date_created|date:"Y" != now|date:"Y" %}
                                    <small>{{ post.date_created|date:"b j, Y"|upper }}</small>
                                {% else %}
                                    <small>{{ post.date_created|date:"b j"|upper }}</small>
                                {% endif %}
                                <p class="card-text text-justify">{{ post.intro }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>     
        </div>
        <div class="container d-flex my-2 py-2">
            <a href="{% url 'blog-category' 'Style' %}" class="btn outline-solid btn-lg d-none d-md-inline mx-auto">VIEW ALL POSTS</a>
            <a href="{% url 'blog-category' 'Style' %}" class="btn outline-solid d-md-none btn-sm mx-auto">VIEW ALL POSTS</a>
       </div> 
    </section>

    <!--Religion Section-->
    <section class="">
        <div class="container my-5 py-5">
            <h2>Religion</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    <section>
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 post-card">
                {% for post in religion|slice:":3" %}
                <a href="{% url 'blog-post-detail' post.id %}">
                    <div class="col">
                        <div class="post-card card shadow p-2 m-2">
                            {% if post.thumbnail %}
                                <img src="{{ post.thumbnail }}" alt="..." class="no_border post-image card-img-top ">
                            {% else %}
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="..." class="no_border post-image card-img-top">
                                {% endif %}
                            {% endif %}
                            <div class="card-body">
                                <strong class="d-inline-block">{{ post.category }}</strong>
                                <h3 class="card-title">{{ post.title }}</h3>
                                {% if post.date_created|date:"Y" != now|date:"Y" %}
                                    <small>{{ post.date_created|date:"b j, Y"|upper }}</small>
                                {% else %}
                                    <small>{{ post.date_created|date:"b j"|upper }}</small>
                                {% endif %}
                                <p class="card-text text-justify">{{ post.intro }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>           
        </div>
        <div class="container d-flex my-2 pb-2">
            <a href="{% url 'blog-category' 'Style' %}" class="btn outline-solid btn-lg d-none d-md-inline mx-auto">VIEW ALL POSTS</a>
            <a href="{% url 'blog-category' 'Style' %}" class="btn outline-solid d-md-none btn-sm mx-auto">VIEW ALL POSTS</a>
        </div> 
    </section>

{% endblock %}
{% block newsletter %}
{% include 'partials/newsletter.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}