{% extends 'partials/base.html' %}
{% block title %}write page{% endblock %}
{% load crispy_forms_tags %}

{% block nav %}
{% include 'partials/nav2.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-lg-6 mx-auto">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <form class = "custom-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form|crispy }}
                        <div class="d-flex gap-2">
                            <button class='btn solid-btn btn-sm mt-3' type='submit' value='POST'>Post</button>
                            <a class="btn btn-sm lighter-btn mt-3" onclick="goBack()">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}