{% extends 'partials/base.html' %}
{% block title %}Post Edit page{% endblock %}
{% load crispy_forms_tags %}

{% block nav %}
{% include 'partials/nav2.html' %}
{% endblock %}

{% block content %}
<div class="container">
   <div class="row mt-5 pt-3">
    <div class="col-lg-6 mx-auto">
        <div class="card my-3 p-2 shadow">
            <div class="card-body">
                <form class="custom-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form|crispy }}
                    <div class="d-flex gap-2">
                        <input class="btn solid-btn btn-sm" type="submit" value="Save">
                        <div class="btn btn-sm lighter-btn"><a class="" href="{% url 'blog-post-detail' post.id %}">Cancel</a>
                        </div></div>
                </form>
            </div>
        </div>
    </div>
   </div>
</div>
{% endblock %}