{% extends 'partials/base.html' %}

{% block title %}post detail page{% endblock %}

{% load crispy_forms_tags %}

{% block nav %}
{% include 'partials/nav.html' %}
{% endblock %}

{% block content %}
<section>
  {% if post.author == request.user %}
    <div class="actionButton d-flex container text-left mt-4 px-5">
      <a href="{% url 'blog-post-edit' post.id %}" class="ms-auto px-2">Edit</a>
      <span>•</span>
      <a href="{% url 'blog-post-delete' post.id %}" class="px-2">Delete</a>
    </div>
  {% endif %}
  <div class="container text-center py-5 px-2">
      <div>
          <h1>{{ post.title }}</h1>
          <p>{{ post.category|title }}</p>
          <p>{{ post.date_created|timesince }}</p>
      </div>
  </div>
</section>

<section>
  <div class="container post-box">
      <div class="row text-center">
        {% if post.image %}
          <div class="title-img col-12 mb-5">
            <img src="{{ post.image.url }}" alt="">
          </div>
        {% endif %}
          
      </div>
      <div class="col-12 px-5 text-left mb-4">
        <h5 class=""> {{ post.intro }} </h5>
      </div>
      <div class="post col-12 px-5 text-left">
          {{ post.content|safe }}
      </div>
      <div class="col-12 px-5 text-left">
        <p class="mt-3 py-4">
          <a class="comment-link" data-bs-toggle="collapse" href="#collapseCommentBox" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-regular fa-comment fa-lg"></i> {{ post.comment_count }}
          </a>
        </p>
        <div class="collapse" id="collapseCommentBox">
          <div class="card card-body comment-box">
            {% for comment in post.comment %}
            <p class="text-justify">
              {{ comment.content }}
              <hr>
            </p>
            {% endfor %}
          </div>
        </div>
        <form method="POST">
          {% csrf_token %}
          {{ c_form|crispy }}
          <button class="btn comment-btn btn-sm" type="submit">Comment</button>
      </form>
      </div>
  </div>
</section>

{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}