{% extends 'partials/base.html' %}

{% block title %}UnityLens | Search page{% endblock %}

{% block nav %}
{% include 'partials/nav.html' %}
{% endblock %}

{% block content %}
<section class="">
    <div class="container my-5 py-5">
        <h1>Search results</h1>
        <h3>Query "{{ query }}"</h3>
        <hr class="custom-hr border-4 opacity-100">
    </div>
</section>
{% if posts %}
    <section class="mb-5 pb-5">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 post-card">
                {% for post in posts %}
                <a href="{% url 'blog-post-detail' post.id %}">
                    <div class="col">
                        <div class="post-card card shadow p-2 m-2">
                            {% if post.thumbnail %}
                                <img src="{{ post.thumbnail }}" alt="..." class="no_border post-image card-img-top">
                            {% else %}
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="..." class="no_border post-image card-img-top">
                                {% endif %}
                            {% endif %}
                            <div class="card_body p-2 m-2">
                                <h5 class="card-title p-2 m-2">{{post.title}}</h5>
                                <p class="card-text text-justify p-2 m-2">{{post.intro}}</p>
                            </div>  
                        </div>
                    </div> 
                </a>
                {% endfor %}
            </div>
        </div>
{% else %}
        <div class="container">
            <h3>No result for the given query...</h3>
        </div>
        
{% endif %}
</section>
{% endblock %}
