body {
    background-color:#fffff4;
    color:#201a23;
}

input {
    background-color: beige;
}

.card {
    background-color: #38323B;
    color: #fffff4;
}

.card ul {
    color: #fffff4;
}

.alert-block {
    background-color: #b25f28;
}

.alert-info {
    background-color: #f8f9c4;
    color: #201a23;
    border-color: #ffc6a0;

}

.img-thumbnail {
    background-color: beige;
}

/* Custom Form */
.custom-form a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
} 

.custom-form textarea, .custom-form input, .custom-form select {
    background-color: #fffeec;
}

.custom-form textarea:focus, .custom-form input:focus, .custom-form select:focus {
    border-color: #ffc6a0; /* Change border color */
    box-shadow: 0 0 0 0.2rem #b06727ef; /* Add box shadow */
    background-color: #fffeec;
}


/* Custom Button */
.lighter-btn {
    background-color: #5d5149;
    color: #cdaf9f;
}

.lighter-btn:hover {
    background-color: #c6bdb8;
    color: 	#703b1c;
}

.solid-btn {
    background-color: #fbe8c0;
    color: #72401f;
}

.solid-btn:hover {
    background-color: #fcf1d9;
    color: #b25f28;
}

.solid-btn a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
} 

.outline-btn {
    border-color: #fbe8c0;
    color: #fbe8c0;
}

.outline-btn:hover {
    background-color: #fbe8c0;
    color: #72401f;
}

.outline-solid {
    border-color: #201a23;
    color: #201a23;
}

.outline-solid:hover {
    background-color: #574234;
    color: #fcf1d9;
}
/* Modal */
.custom-modal {
    background-color: #fffff4;
}


/* Nav Bar */
.bg-body-color {
    background-color: #fffff4;
}


/* Horizontal Rule */
.custom-hr{
    border:5px solid #574234;
}


/* Top Section Categories */
.custom_border{
    border: 1px solid #574234;
    border-radius: 10px;
}

.topics a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.topics a div:hover {
    background-color: #574234; /* Changing background color */
    color: #fffeec; /* Changing text color */
}


/* Post Card */


.post-card {
    border: 0 none;
    border-radius: 0;
    background-color: transparent !important;
    color: #201a23;
}

.post-card .col:hover {
    border: 2px solid #201a23;
    border-radius: 1rem;
}

.post-card a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}


/* Top Stories Images */
.top-stories-image {
    max-height: 424px;
    object-fit: cover;
    object-position: center;
}


/* Latest Post Images */
.post-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}


/* News Letter Section*/
.newsletter {
    background-color: #574234;
}
/* .newsletter input {
    width: 50%;
} */

.newsletter {
    color: #fcf1d9;
}



/* FOOTER SECTION */
footer {
	/* background: #101010; */
	padding: 86px 0;
}

.single-box p {
	/* color: #fff; */
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	/* color: #fff; */
}
.single-box .card-area i {
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;

	color: #1b1713;
	line-height: 2.5;
	font-weight: 100;
}
.single-box ul li a:hover {
    text-decoration: underline;
  }
.single-box h2 {
	/* color: #fff; */
	font-size: 20px;
	font-weight: 700;
}

.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
    .foota {
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}

    .icns, .single-box .abouts {
        margin-left: 120px;
    }

}


/* Profile Page */
.profile a {
    color: beige;
}

.profile a:hover {
    color: #e46916;
}

.profile-img {
    border-radius: 100%; 
    width: 200px; 
    height: 196px; 
    object-fit: cover;
    
}
.profile-container {
    padding: 150px 0;
}

@media (max-width: 991px) {
	.profile-container {
		padding: 100px 0;
	}
    .profile-img {
        width: 180px; 
        height: 176px; 
    }
}

@media (max-width: 767px) {
	.profile-container {
		padding: 100px 0;
	}

    .profile-img {
        width: 150px; 
        height: 166px; 
    }
}


@media (max-width: 402px) {
	.profile-container {
		padding: 100px 0;
	}
    .profile-img {
        width: 130px; 
        height: 126px; 
    }
}

#editProfileModal2 .modal-content {
    background-color: #fffff4;
    color:#201a23;

}

#editProfileModal2 .modal-content input,  #editProfileModal2 .modal-content select,
#editProfileModal2 .modal-content textarea {
    background-color: #fffeec;
    border-color: #201a23;
}

#editProfileModal2 .modal-content input:focus,  #editProfileModal2 .modal-content select:focus,
#editProfileModal2 .modal-content textarea:focus {
    border-color: #38323B; /* Change border color */
    box-shadow: 0 0 0 0.1rem #574234; /* Add box shadow */
}

#editProfileModal2 .modal-content .input-group a {
    text-decoration: none;
    color: inherit;
}

.light-btn {
    background-color: #38323B;
    color: #fffff4;
}
/* Login Page */
.cover{
    background: url('/media/login.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}


/* Post Detail page */

.actionButton a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.actionButton a:hover {
    text-decoration: underline;
}

.title-img img {
    max-width: 100%;
    max-height: 600px;
}

.post-box {
    padding: 0 200px;
}

@media (max-width: 991px) {
	.post-box{
		padding: 0 100px;
	}
}

@media (max-width: 767px) {
	.post-box {
		padding: 0 30px;
    }
    .post {
		text-align: left;
	}

	}

@media (max-width: 402px) {
	.post-box {
		padding: 0 0;
	}
}

.post img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.comment-box {
    height: 200px; 
    overflow-y: scroll;
    background-color:  transparent !important;
    color:#201a23;

}

.comment-link {
    text-decoration: none;
    color: inherit;
}

.comment-btn {
    color: #38323B;
    border: 1px solid #38323B ;
}

.comment-btn:hover {
   
    background-color: #38323B;
    color: #fffff4;;
}


/* Delete Page */
.delete-container {
    padding: 100px 200px;
}

@media (max-width: 991px) {
	.delete-container {
		padding: 100px 100px;
	}
}

@media (max-width: 767px) {
	.delete-container {
		padding: 100px 50px;
	}
}

@media (max-width: 402px) {
	.delete-container {
		padding: 100px 30px;
	}
}



/* Sign Up Page */

.sign-up textarea, .sign-up input, .sign-up select {
    background-color: #fffeec;
}

.sign-up textarea:focus, .sign-up input:focus, .sign-up select:focus {
    background-color: #fffeec;
}


/* Login Page */
.forgot-pswd:hover {
    text-decoration: underline;
}
