<!--FOOTER SECTION-->

<footer>
    <div class="container foota">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-box ">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 me-auto">
                <div class="single-box">
                    <ul class="abouts">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Submit a Story</a></li>
                    </ul>
                </div>                    
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-box">
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
                </div>                    
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="icns single-box">
                    <p class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-pinterest"></i>
                        <i class="fa fa-twitter"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="align-self-start pt-5">
            UnityLens Ltd © 2024
        </div>
    </div>
    </footer>